{:paths ["src"]
 :deps {com.github.flow-storm/hansel {:mvn/version "0.1.79"}
        ring/ring-core {:mvn/version "1.12.2"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        ring/ring-jetty-adapter {:mvn/version "1.12.2"}}
 :aliases {:dev {:classpath-overrides {org.clojure/clojure nil}
                 :extra-paths ["dev"]
                 :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.12.0-9"}}
                 :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
                            "-Dclojure.storm.instrumentAutoPrefixes=false"
                            "-Dclojure.storm.instrumentOnlyPrefixes=dev-tester"]}
           :test {:classpath-overrides {org.clojure/clojure nil}
                  :extra-deps          {com.github.flow-storm/clojure {:mvn/version "1.12.0-9"}}
                  :exec-fn             clofidence.main/run
                  :exec-args           {:report-name   "clofidence-dev-test"
                                        :test-fn       dev-tester/run-test
                                        :test-fn-args  []}
                  :jvm-opts            ["-Dclojure.storm.instrumentOnlyPrefixes=dev-tester"]}
           :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
                   :ns-default build}}}
